<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/vendor/aos/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
</head>
<body>
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.json' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>